/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-container {
    display: flex;
    height:100vh;

  }
  
  /* Sidebar styles */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow-y: auto;
  }
  
  li {
    padding: 10px;
  }
  
  li a {
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  li a:hover {
    background-color: #ddd;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow-y: auto;
  }
  
  /* ul ul {
    margin-left: 20px;
    display: none;
  }
  
  li:hover ul {
    display: block;
  } */
  
  /* Tabs styles */
  .tabs-container {
    display: flex;
    margin-bottom: 10px;

  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
  
  .tab.active {
    border-bottom-color: #333;
  }
  
  /* Content styles */
  .content {
    flex: 1;
  padding: 20px;
  margin-left: 200px; /* Take into account the width of the Sidebar */
border:10px solid #DDDDDD;
  }
  .content-outline {
    border: 2px solid gray; /* Add a border around the content */
    background-color: #f9f9f9;
    /* padding: 10px; */
    /* Add background color to the content */
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

  }

  .responsive-table th,
.responsive-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.responsive-table th {
  background-color: #f2f2f2;
}


  
  
  /* Modal styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
   /* Ensure the modal appears above other elements */
    }
  
  .modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    }
  
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .modal-header h2 {
        margin: 0;
      }
      
      .modal-content label {
        min-width: 100px;
        margin-right: 10px;
      }
      
      
      .modal-content input {
        flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
      }
      .modal-content .field {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
      }
/*       
      .modal-content button {
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
      } */
      .modal-content .save-btn {
        padding: 8px 16px;
        background-color:gray;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        /* margin-right: 8px; */
        border-radius: 4px;
      }
      .modal-content .close-btn {
        padding: 8px 16px;
        background-color: gray;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        border-radius: 4px;
      }
      .modal{
        display: block !important;
        position:relative  !important;
      }
        /* .modal-content {
    padding: 10px 0;
  }
   */